<div class="grid-x main">

    <div class="auth-form large-6 large-offset-3 medium-8 medium-offset-2 small-10 small-offset-1 cell">

        <h3 class="auth-h2">Log In</h3>

        <form action="<%= session_url %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

            <label for="email">Email
                <input type="text" name="user[email]" id="email" value="" placeholder="Enter Email Address">
            </label>

            <label for="password">Password
                <input type="password" name="user[password]" id="password" value="" placeholder="Enter a Password">
            </label>

            <input class="auth-submit expanded button" type="submit" value="Log In">

        </form>

        <div class="auth-switch">Don't have an account? <a href="<%= new_user_url %>">Sign Up!</a></div>
    </div>

</div>








