
.button.small {
    border-radius: 5px;
}

.add.button {
    background: whitesmoke;
    color: #1779ba
}

.add.button:hover {
    cursor: pointer;
    color: white;
    background: rgb(136, 189, 136);
}

#garage:hover {
    cursor: pointer;
}

/* ——————————————————————————————— */
/* ———————————— USER AUTH —————————————*/
/* ——————————————————————————————— */

.navbar.grid-x {
    padding-top: 10px;
    padding-bottom: 10px;
    background: whitesmoke;
}

.current-user-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    margin-top: 1%;
}

.auth-h2 {
    text-align: center;
    margin: auto;
    font-weight: 500;
}

.my-h4 {
    text-align: center;
    margin: auto;
    margin-bottom: 12px;
}

.auth-form {
    width: 80%;
    margin: 5% auto;
    padding: 3%;
    border: 1px black solid;
    border-radius: 4px;
    box-shadow: 5px 5px 5px black;
    background: whitesmoke;

}

.auth-submit.button {
    border-radius: 4px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 18px;
}

.my-remove.button {
    border-radius: 4px;
    margin: auto;
}

.auth-switch {
    text-align: center;
}

/* ——————————————————————————————— */
/* —————————— VEHILCE INDEX —————————————*/
/* ——————————————————————————————— */


.index-title {
    text-align:center;
}

.modal-button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.vehicle-form-wrapper.reveal {
    box-shadow: 5px 5px 5px black;
    border-radius: 4px;
}

.vehicle-form {
    padding: 1%;
}

.vehicle-items {
    list-style: none;
    width: 85%;
    padding: 1%;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    background: whitesmoke;
}

.vehicle-items:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}

.remove.button.small {
    background: red;
}


/* ——————————————————————————————— */
/* —————— MAINTENANCE ITEMS ———————*/
/* ——————————————————————————————— */

.maintenance-items {
    width: 85%;
    padding: 1%;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    background: whitesmoke;

}

.maintenance-items:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px black;

}


/* ——————————————————————————————— */
/* —————— MAINTENANCE ITEM SHOW ———————*/
/* ——————————————————————————————— */

.information-container{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: start;
    flex-direction: column;
}

.information-row{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
}

.back-button-wrapper {
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

.back-button.button {
    border-radius: 5;
}


body {
    background: #1779ba;
}