/* ——————————————————————————————— */
/* ———————————— USER AUTH —————————————*/
/* ——————————————————————————————— */

.auth-h2 {
    text-align: center;
    margin: auto;
    padding-top: 5%;
}

.auth-form {
    width: 80%;
    margin: 5% auto;
    padding: 3%;
    border: 1px grey solid;
    border-radius: 4px;
    box-shadow: 5px 5px 5px grey;
}

.auth-submit.button {
    border-radius: 4px;
    margin: auto;
}

.auth-switch {
    text-align: center;
}

/* ——————————————————————————————— */
/* —————————— VEHILCE INDEX —————————————*/
/* ——————————————————————————————— */


.vehicle-form-wrapper.reveal {
    box-shadow: 5px 5px 5px black;
    border-radius: 4px;
}

.vehicle-form {
    padding: 3%;
}

.vehicle-items-list-wrapper {
    display: flex;
    justify-content: center;
}

.vehicle-items-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vehicle-items {
    list-style: none;
}

.vehicle-item-bottom-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.remove.button.small {
    background: red;
}