
<div id="error-modal" class="callout alert small" data-closable>

  <h4>Something went wrong...</h4>

    <% flash[:errors].map do |error| %>
      <div><%= error %></div>
    <% end %>

  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

</div>

