
<div class="navbar grid-x">  

    <!-- left side of navbar -->
    <div class="flex-container text-center align-center small-3 cell">
        <h5 style="margin-bottom: 0;">Welcome, <%= current_user.first_name %>!</h5>
    </div>

    <div class="flex-container text-center align-center small-6 cell">
        <h4 id="garage" style="margin-bottom: 0;">Your Garage</h4>
    </div>

    <!-- right side of navbar -->
    <div class="flex-container text-center align-center small-3 cell">
        <form action="<%= session_url %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" class="button small" value="Sign Out">
        </form>
    </div>

</div>